<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Vuelo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/Confirmar.css">
    <link rel="stylesheet" href="../assets/css/estyle.css">
</head>

<body>
    <div class="container mt-4">
        <h4>Detalles del vuelo de salida</h4>
        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Tipo de cabina</th>
                            <th>Fecha</th>
                            <th>Número de vuelo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <h4>Detalles del vuelo de regreso</h4>
        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Tipo de cabina</th>
                            <th>Fecha</th>
                            <th>Número de vuelo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <h4>Datos del pasajero</h4>
        <div class="card mb-4">
            <div class="card-body">
                <form id="passengerForm">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="apellido">Apellido</label>
                            <input type="text" class="form-control" id="apellido">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="fechaNacimiento">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="fechaNacimiento" placeholder="[dd/mm/yyyy]">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="telefono">Teléfono</label>
                            <input type="text" class="form-control" id="telefono" placeholder="">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="numeroPasaporte">Número Pasaporte</label>
                            <input type="text" class="form-control" id="numeroPasaporte">
                        </div>
                        <div class="form-group col-md-3">
                            <label from="countries_id">Pais</label>
                            <input type="hidden" id="selected_countries_id" name="selected_countries_id" value="">
                            <input type="text" list="countries_id" class="form-control" name="countries_id" id="countries_id">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="fotoPasaporte">Foto Pasaporte</label>
                            <input type="file" class="form-control-file" id="fotoPasaporte" name="fotoPasaporte">
                            <small>foto_pasaporte.jpg</small>
                        </div>
                        <div class="form-group col-md-3 d-flex align-items-end">
                            <button type="button" class="btn btn-primary" onclick="save()">Agregar Pasajero</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <h4>Lista de pasajeros</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de nacimiento</th>
                    <th>Número de pasaporte</th>
                    <th>País de pasaporte</th>
                    <th>Teléfono</th>
                    <th>Foto Pasaporte</th>
                </tr>
            </thead>
            <tbody id="listaPasajeros">
                <!-- Aquí se agregarán las filas dinámicamente -->
            </tbody>
        </table>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger" id="eliminarPasajeroBtn">Eliminar Pasajero</button>
            <div>
                <button type="button" class="btn btn-secondary">Regresar a buscar vuelos</button>
                <button type="button" class="btn btn-success">Confirmar Reserva</button>
            </div>
        </div>
    </div>

    <!-- Carga la versión completa de jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Carga tus scripts después de jQuery -->
    <script src="../JS/Confirmar.js"></script>
</body>

</html>
