<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Vuelo</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/Confirmar.css">
</head>

<body>
    <div class="container mt-4">
        <h4>Detalles del vuelo de salida</h4>
        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Tipo de cabina</th>
                            <th>Fecha</th>
                            <th>Número de vuelo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <h4>Detalles del vuelo de regreso</h4>
        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Origen</th>
                            <th>Destino</th>
                            <th>Tipo de cabina</th>
                            <th>Fecha</th>
                            <th>Número de vuelo</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <h4>Datos del pasajero</h4>
        <div class="card mb-4">
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label from="nombres_id">Nombres</label>
                                <input type="hidden" id="selected_nombres_id" name="selected_nombres_id" value="">
                                <input type="text" list="nombres_id" class="form-control" name="nombres_id"
                                    id="nombres_id">
                            </div>
                            <div class="form-group col-md-3">
                                <label from="apellidos_id">Apellidos</label>
                                <input type="hidden" id="selected_apellidos_id" name="selected_apellidos_id" value="">
                                <input type="text" list="apellios_id" class="form-control" name="apellido_id"
                                    id="apellido_id">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="fechaNacimiento">Fecha de nacimiento</label>
                                <input type="date" class="form-control" id="fechaNacimiento" placeholder="[dd/mm/yyyy]">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="telefono">Teléfono</label>
                                <input type="text" class="form-control" id="telefono" placeholder="">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="numeroPasaporte">Número Pasaporte</label>
                                <input type="text" class="form-control" id="numeroPasaporte">
                            </div>
                            <div class="form-group col-md-3">
                                <label from="pais_id">Pais</label>
                                <input type="hidden" id="selected_pais_id" name="selected_pais_id" value="">
                                <input type="text" list="pais_id" class="form-control" name="pais_id"
                                    id="pais_id">
                            </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="fotoPasaporte">Foto Pasaporte</label>
                                <input type="file" class="form-control-file" id="fotoPasaporte" name="ticketId">
                                <small>foto_pasaporte.jpg</small>
                            </div>
                            <div class="form-group col-md-3 d-flex align-items-end">
                                <button type="button" class="btn btn-primary">Agregar Pasajero</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>

        <h4>Lista de pasajeros</h4>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de nacimiento</th>
                    <th>Número de pasaporte</th>
                    <th>País de pasaporte</th>
                    <th>Teléfono</th>
                    <th>Foto Pasaporte</th>
                </tr>
            </thead>

            <td><button class="btn btn-link">Ver pasaporte</button></td>
        </table>
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-danger">Eliminar Pasajero</button>
            <div>
                <button type="button" class="btn btn-secondary">Regresar a buscar vuelos</button>
                <button type="button" class="btn btn-success">Confirmar Reserva</button>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>